@model IEnumerable<CarRental.Models.Car>

@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Cars</h2>

@if (!Model.Any())
{
    <p>We dont have any cars </p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Car</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@Html.ActionLink(car.Name, "Details", "Cars", new { id = car.Id }, null)</td>
                    <td>@car.Type.carType</td>
                </tr>
            }
        </tbody>
    </table>

}





