@model IEnumerable<CarRental.Models.Caar>

@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Cars</h2>
<hr>
@Html.ActionLink("Add New Car", "New", new {}, new { @class="btn btn-primary"})
<hr>
@if (!Model.Any())
{
    <p>We dont have any cars </p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Car</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@Html.ActionLink(car.Name, "Edit", "Cars", new { id = car.Id }, null)</td>
                    <td>@car.carType.Name</td>
                </tr>
            }
        </tbody>
    </table>

}





